<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:dist="http://schemas.android.com/apk/distribution"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.recep.hunt">
    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
            android:name="android.permission.SET_DEBUG_APP"
            tools:ignore="ProtectedPermissions" />

    <uses-feature
            android:name="android.hardware.camera"
            android:required="true" />

    <application
            android:name=".application.MyApplication"
            android:allowBackup="true"
            android:hardwareAccelerated="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:largeHeap="true"
            android:roundIcon="@mipmap/ic_launcher"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".profile.ProfileActivity"></activity>
        <activity
                android:name=".swipe.activities.SwipProfilesActivity"
                android:label="@string/title_activity_swip_profiles"
                android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".matchs.MatchQuestionnaireActivity" />
        <activity android:name=".matchs.LetsMeetActivity" />
        <activity android:name=".payment.TrasactionDone" />
        <activity android:name=".faq.FaqDashboard" />
        <activity android:name=".creator.TicketGenrated" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".swipe.SwipeMainActivity" />
        <activity android:name=".payment.PaymentFaqActivity" />
        <activity android:name=".inviteFriend.InviteFriendContactActivity" />
        <activity android:name=".inviteFriend.MyInviteCreditActivity" />
        <activity android:name=".inviteFriend.InviteAFriendActivity" />
        <activity android:name=".userDetail.UserDetailActivity" />
        <activity
                android:name=".login.WelcomeScreenActivity"
                android:windowSoftInputMode="stateAlwaysVisible|adjustResize" />
        <activity android:name=".payment.SelectPaymentMethodsActivity" />
        <activity android:name=".payment.AddPaymentMethod" />
        <activity android:name=".payment.PaymentMethodActivity" />
        <activity android:name=".premium.MyCardsActivity" />
        <activity android:name=".contactUs.ChatWithUsChatActivity" />
        <activity android:name=".contactUs.ContactUsEmailActivity" />
        <activity android:name=".contactUs.ChatWithUsActivity" />
        <activity android:name=".contactUs.FAQsPayQuestAnsActivty" />
        <activity android:name=".contactUs.FAQsActivty" />
        <activity android:name=".contactUs.ContactUsActivity" />
        <activity android:name=".notifications.NotificationsActivity" />
        <activity android:name=".premium.AddNewPaymentActivity" />
        <activity android:name=".premium.HuntPremiumActivity" />
        <activity android:name=".profile.ChangeMyPhoneNumberActivity" />
        <activity android:name=".profile.PhoneNumberSettingActivity" />
        <activity android:name=".profile.IcebreakerQuestionActivity" />
        <activity android:name=".profile.PushNotificationsSettingsActivity" />
        <activity android:name=".profile.EmailSettingsActivity" />
        <activity android:name=".profile.UserProfileEditQuestionActivity" />
        <activity android:name=".profile.UserProfileSettingsActivity" />
        <activity android:name=".profile.UserProfileEditActivity" />
        <activity
                android:name=".profile.UserProfileActivity"
                android:parentActivityName=".home.HomeActivity" />
        <activity android:name=".home.HomeActivity" />
        <activity android:name=".setupProfile.TurnOnGPSActivity" />
        <activity
                android:name=".setupProfile.SetupProfileReferralCodeActivity"
                android:windowSoftInputMode="adjustResize" />
        <activity android:name=".login.ContinueAsSocialActivity" />
        <activity android:name=".login.InfoYouProvideActivity" />
        <activity android:name=".setupProfile.SetupProfileAddedPhotoActivity" />
        <activity android:name=".setupProfile.SetupProfileUploadPhotoStep2Activity" />
        <activity android:name=".setupProfile.SetupProfileCompletedActivity" />
        <activity android:name=".setupProfile.SetupProfileInterestedInActivity" />
        <activity android:name=".setupProfile.SetupProfileLookingForActivity" />
        <activity android:name=".setupProfile.SetupProfileGalleryActivity" />
        <activity android:name=".setupProfile.SetupProfileGenderActivity" />
        <activity android:name=".setupProfile.SetupProfileUploadPhotoActivity" />
        <activity android:name=".setupProfile.SetupProfileDobActivity" />
        <activity
                android:name=".setupProfile.SetupProfileEmailActivity"
                android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
                android:name=".setupProfile.SetupProfileActivity"
                android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:name=".setupProfile.SetupProfileRelationshipActivity" />
        <activity android:name=".login.SocialLoginActivity" />
        <activity
                android:name=".login.OtpVerificationActivity"
                android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".setupProfile.TurnOnGPSUpdateAcitivity" />
        <activity
                android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
                android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name=".creator.CreatorActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
                android:name=".utilis.location.EnableLocationServiceSettingActivity"
                android:launchMode="singleTask"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.AppCompat.Translucent" /> <!-- fcm -->
        <service
                android:name=".firebaseHelper.FirebaseInstanceClass"
                android:stopWithTask="false"
                tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
                android:name="com.google.firebase.messaging.default_notification_icon"
                android:resource="@mipmap/ic_launcher_foreground" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
                android:name="com.google.firebase.messaging.default_notification_color"
                android:resource="@color/colorAccent" />
        <meta-data
                android:name="com.google.firebase.messaging.default_notification_channel_id"
                android:value="@string/default_notification_channel_id" /> <!-- ************************************* -->
        <receiver android:name=".utilis.SMSReceiver">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED" />
            </intent-filter>
        </receiver>

        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts" />
        <meta-data
                android:name="com.facebook.sdk.ApplicationId"
                android:value="@string/facebook_app_id" />
        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="@string/google_maps_key" />
        <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
    </application>

</manifest>